# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
.env

# --- Project Specific Data ---
data/raw/
data/processed/

# --- Databases ---
DBs/
qdrant_db_multilingual-e5-base/
*.db
*.sqlite

# --- Logs ---
# logs/

# --- OS & IDE ---
.DS_Store
.vscode/
.idea/
*.swp

# --- Large Model Files ---
models/